#contact-content {
  .contact-top {
    min-height: 60%;
    background-color: #f0eff5;

    .contact-img {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;

      h1 {
        color: black;
        margin-top: 1%;
      }

      p {
        margin-top: 1%;
        font-weight: bold;
      }
      img {
        //margin-top: 3%;
      }
    }
  }
  .contact-bottom {
    min-height: 40%;
    background-color: #f0eff5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    p {
      margin-top: 1%;
    }
  }
}
