#products-content {
  .products-top {
    min-height: 60%;
    background-color: white;

    .top-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 3%;

      .header-left {
        margin-left: 20px;
        h1 {
          color: black;
        }
      }

      .header-right {
        margin-right: 20px;
        color: black;
      }
    }

    .media {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .type {
        height: 50%;
        margin-top: 2%;

        img {
          max-height: 300px;
        }
        p {
          color: black;
          text-align: center;
        }
      }
    }
  }

  .products-bottom {
    min-height: 60%;
    background-color: white;

    .bottom-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 3%;

      .header-left {
        margin-left: 20px;
        h1 {
          color: black;
        }
      }

      .header-right {
        margin-right: 20px;
        color: black;
      }
    }

    .media {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .type {
        height: 50%;
        margin-top: 2%;

        img {
          height: 325px;
        }
        p {
          color: black;
          text-align: center;
        }
      }
    }
  }
}
